<!--Content for the app's home view which will be rendered into the layout's {{{body}}}-->

<div id='title'>
  <h1>_ARCHITEKT</h1>
</div>

<div class="description">
  <p id='bio'>Welcome to our online portfolio, we are small group of passionate designers and architects, looking to
    change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect
    WordPress Theme</p>
</div>

{{!-- <div class="row1">
  <div id="img1">

    <img src="../public/winterCabin.jpg" alt="mountain hill cabin winter">
    <p id="img1-title">Mountain Hill Cabin Winter</p>
    <p class="link">www.fantasticnorway.no</p>

  </div>

  <div id="img2">
    <img src="../public/bronnoy.jpg" alt="Bronnoy Kunstbase">
    <p id="img2-title">Bronnoy Kunstbase</p>
    <p class="link">www.fantasticnorway.no</p>
  </div>

  <div id="img3">
    <img src="../public/kneisen.jpg" alt="Kneisen Visitors Center">
    <p id="img3-title">Kneisen Visitors Center</p>
    <p class="link">www.fantasticnorway.no</p>
  </div>
</div> --}}
{{#each galleryItems}}
<div>
  <a href="/gallery/{{id}}">
    <img src={{link}} alt="{{description}}">
  </a>
  <p class="img-title">{{description}}</p>
  <p class="link">{{link}}</p>
</div>
{{/each}}

<br><br>
<a class="new" href="/gallery/new">Add New Photo</a>