<!--Content for the app's home view which will be rendered into the layout's {{{body}}}-->

<div id='title'>
  <h1>_ARCHITEKT</h1>
</div>

<div class="description">
  <p id='bio'>Welcome to our online portfolio, we are small group of passionate designers and architects, looking to
    change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect
    WordPress Theme</p>
</div>

{{#each galleryItems}}
<div>
  <a href="/gallery/{{id}}">
    <img src="{{link}}" alt="{{description}}">
  </a>
  <p class="img-title">{{description}}</p>
  <p class="link">{{link}}</p>
</div>
{{/each}}

<br><br>
<a href="/gallery/new">Add New Photo</a>
<br><br>